

<div id="model-table-wrap">
  <table class="table table-condensed table-bordered model-table">
    <!-- Things needed here: dimension select/edit/create,
         attribute label, attribute name. -->
    <tr>
      <th class="legend">
        Title:
      </th>
      <th ng-repeat="col in columns">
        <input type="text" class="form-control" ng-model="col.label">
      </th>
    </tr>

    <tr>
      <th class="legend">
        API name:
      </th>
      <th ng-repeat="col in columns">
        <input type="text" class="form-control" ng-model="col.name">
      </th>
    </tr>

    <tr>
      <th class="legend">
        Purpose:
      </th>
      <th ng-repeat="col in columns">
        <select class="form-control" ng-model="col.concept" ng-change="changeConcept(col)">
          <option value="attribute">Independent variable (Dimension attribute)</option>
          <option value="measure">Dependent variable (Measure)</option>
        </select>
      </th>
    </tr>

    <tr ng-repeat="row in samples">
      <th class="legend" rowspan="{{samples.length}}" ng-show="$first">
        Samples:
      </th>
      <td ng-repeat="col in columns"
          ng-class="getCellClass(col.column, row[col.column])">
        {{row[col.column] || '&hellip;'}}
      </td>
    </tr>

  </table>
</div>

