/pyenv
/*.ini
!/test_continuous.ini
/*.egg-info
*.pyc
*.egg
*.DS_Store
/.noseids
/linesman-enabled
*.DS_Store
/db
.*.swp
doc/_build/*
spendb/static/spendb.ui
spendb/static/spendb.ui/*
contrib/os_export/exports/*
*~
.tx/config
build/*
.vagrant
.project
.pydevproject
settings.py
.env
tmp/*
coverage/*
.coverage
node_modules/
