/pyenv
/*.ini
!/test_continuous.ini
/*.egg-info
*.pyc
*.egg
*.DS_Store
/.noseids
/linesman-enabled
*.DS_Store
/db
.*.swp
spendb/templates/help/*
doc/_build/*
spendb/static/.webassets-cache/*
# spendb/static/prod/*
spendb/static/vendor/*
*~
.tx/config
build/*
.vagrant
.project
.pydevproject
settings.py
.env
tmp/*
coverage/*
.coverage
