# Configuration options injected into docker-compose, see settings.py.tmpl
SITE_TITLE=SpenDB
# SECRET=foo
DATABASE_URL=postgresql://spendb:spendb@db/spendb
AMQP_URL=amqp://guest:guest@rabbitmq:5672//
MAIL_SERVER=smtp.mandrillapp.com
MAIL_PORT=587
# MAIL_USERNAME=
# MAIL_PASSWORD=
# MAIL_DEFAULT_SENDER=
# AWS_KEY_ID=
# AWS_SECRET=
# AWS_DATA_BUCKET=
