# Configuration options injected into docker-compose, see settings.py.tmpl
SPENDB_SITE_TITLE=SpenDB
# SPENDB_SECRET=foo
SPENDB_DATABASE_URL=postgresql://spendb:spendb@db/spendb
SPENDB_AMQP_URL=amqp://guest:guest@rabbitmq:5672//
SPENDB_MAIL_SERVER=smtp.mandrillapp.com
SPENDB_MAIL_PORT=587
# SPENDB_MAIL_USERNAME=
# SPENDB_MAIL_PASSWORD=
# SPENDB_MAIL_DEFAULT_SENDER=
# SPENDB_AWS_KEY_ID=
# SPENDB_AWS_SECRET=
# SPENDB_AWS_DATA_BUCKET=
