{% extends "base.html" %}
{% from "_util.html" import dataset_listing, show_pager %}

{% block page_title %}{{ profile.fullname }}{% endblock %}

{% block title_buttons %}
  <a class="btn btn-success" href="/settings">
    {% trans %}Settings{% endtrans %}
  </a>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <img src="{{ profile.email | gravatar(size=200) }}" alt="Gravatar for {{profile.name}}">
    </div>
    <div class="col-md-9">
      <h3>
        {% trans %}Information{% endtrans %}
      </h3>

      <table class="table table-condensed">
        {% if profile.fullname %}
          <tr>
            <th>
              {% trans %}Name{% endtrans %}
            </th>
            <td>
              {{profile.fullname}}
            </td>
          </tr>
        {% endif %}
        <tr>
          <th>
            {% trans %}Username{% endtrans %}
          </th>
          <td>
            {{profile.name}}
          </td>
        </tr>
        {% if show_email %}
          <tr>
            <th>
              {% trans %}Email{% endtrans %}
            </th>
            <td>
              {{profile.email}}
            </td>
          </tr>
        {% endif %}
        {% if profile.twitter_handle and show_twitter %}
          <tr>
            <th>
              Twitter
            </th>
            <td>
              <a href="https://twitter.com/{{ profile.twitter_handle }}">
                @{{ profile.twitter_handle }}
              </a>
            </td>
          </tr>
        {% endif %}
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-9">
      <h3>
        {% trans %}Datasets{% endtrans %}

        {% if current_user == profile %}
          <div class="pull-right">
            <a class="btn btn-sm btn-success" href="{{url_for('dataset.new') }}">
              {% trans %}Import a dataset{% endtrans %}
            </a>
          </div>
        {% endif %}
      </h3>
      
      {% if profile_datasets|length %}
        {{dataset_listing(profile_datasets)}}
        {{show_pager(profile_datasets)}}
      {% else %}
        <p>
          {% trans %}It looks like you haven't uploaded any datasets.{% endtrans %}
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}


