<footer>
  <div class="container">
    <div class="row">    
      <div class="col-md-8">
        <ul class="footer-links"> 
          <li>
            <a href="{{url_for('home.page', path='about')}}">
              {% trans %}About{% endtrans %}
            </a>
          </li> 
          <li>
            <a href="{{url_for('home.page', path='api')}}">
              {% trans %}Developers{% endtrans %}
            </a>
          </li>
          <li>
            <a href="https://github.com/mapthemoney/spendb">
              {% trans %}Source Code{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{url_for('home.page', path='contact')}}">
              {% trans %}Contact{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{url_for('home.page', path='tos')}}">
              {% trans %}Terms &amp; Privacy{% endtrans %}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>
          {% trans %}All <a href="http://www.gnu.org/licenses/agpl.html">code</a>,
          <a href="http://creativecommons.org/licenses/by/3.0/">content</a>
          and <a href="http://opendatacommons.org/licenses/odbl/">data</a> is
          openly licensed.{% endtrans %}
        </p>
      </div>
    </div>
  </div>
</footer>
