<footer>
  <div class="container">
    <div class="row">    
      <div class="col-md-4">
        <ul class="footer-links">
          <li>
            <a href="http://offenerhaushalt.de">
              OffenerHaushalt (DE)
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="footer-links">
          <li>
            <a href="{{url_for('home.page', path='contact.html')}}">
              {% trans %}Contact{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{url_for('home.page', path='api.html')}}">
              {% trans %}API{% endtrans %}
            </a>
          </li>
          <li>
            <a href="{{url_for('home.page', path='tos.html')}}">
              {% trans %}Privacy{% endtrans %}
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>
          {% trans %}All <a href="http://www.gnu.org/licenses/agpl.html">code</a>,
          <a href="http://creativecommons.org/licenses/by/3.0/">content</a>
          and <a href="http://opendatacommons.org/licenses/odbl/">data</a> is
          openly licensed.{% endtrans %}
        </p>
      </div>
    </div>
  </div>
</footer>
