<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <ul class="footer-links">
          <li>
            <a href="/docs/about.html">
              About
            </a>
          </li>
          <li>
            <a href="https://github.com/spendb/spendb/wiki/Web-API">
              Developers
            </a>
          </li>
          <li>
            <a href="https://github.com/spendb/spendb">
              Source Code
            </a>
          </li>
          <li>
            <a href="/docs/contact.html">
              Contact
            </a>
          </li>
          <li>
            <a href="/docs/tos.html">
              Terms &amp; Privacy
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <p>
          All <a href="http://www.gnu.org/licenses/agpl.html">code</a>,
          <a href="http://creativecommons.org/licenses/by/3.0/">content</a>
          and <a href="http://opendatacommons.org/licenses/odbl/">data</a> is
          openly licensed.
        </p>
      </div>
    </div>
  </div>
</footer>
