<div class="navbar navbar-default navbar-static-top" data-dropdown="dropdown">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="navbar-header">
        
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#main-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" href="/">
          {{ site_title }}
        </a>

      </div>

      <div class="collapse navbar-collapse" id="main-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="{{url_for('dataset.index')}}">
              {% trans %}Datasets{% endtrans %}
            </a>
          </li>
          <li>
            <a href="/docs/about.html">
              {% trans %}About{% endtrans %}
            </a>
          </li>
          <li>
            <a href="/docs/contact.html">
              {% trans %}Contact{% endtrans %}
            </a>
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          {% if logged_in %}
            <li class="dropdown" dropdown>
              <a class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
                <strong>{{ current_user.name }}</strong>
                <img src="{{ current_user.email }}"
                  alt="{{ current_user.fullname }}">
              </a>

              <ul class="dropdown-menu account-dropdown" role="menu">
                <li>
                  <a href="/accounts/{{current_user.name}}">
                    {% trans %}Dashboard{% endtrans %}
                  </a>
                </li>
                <li>
                  <a href="/settings">
                    {% trans %}Settings{% endtrans %}
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a ng-click="logout()" class="clickable">
                    {% trans %}Logout{% endtrans %}
                  </a>
                </li>
              </ul>
            </li>
          {% else %}
            <li>
              <a href="/login">
                {% trans %}Login/Register{% endtrans %}
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
