
{% macro dataset_listing(datasets) -%}
  <ul class="list-group">
    {% for ds in datasets %}
      <li class="list-group-item">
        <strong>
          <a href="{{url_for('dataset.view', dataset=ds.name)}}">
            {{ds.label}}
          </a>
        </strong>
        {% if ds.description %}
          &middot; {{ds.description | markdown_preview}}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}

{% macro show_pager(pager) -%}
  {% if pager.pages > 1 %}
    <nav>
      <ul class="pagination">
        {% if pager.has_prev %}
        <li>
          <a href="{{pager.prev_url}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        {% for i in pager.range %}
          <li class="{% if i == pager.page %}active{% endif %}">
            <a href="{{pager.page_url(i)}}">{{i}}</a>
          </li>
        {% endfor %}
        {% if pager.has_next %}
        <li>
          <a href="{{pager.next_url}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
{%- endmacro %}

{% macro angular_templates(templates) -%}
  {% for path, tmpl in templates %}
    <script id="{{path}}" type="text/ng-template">{{ tmpl | safe }}</script>
  {% endfor %}
{%- endmacro %}

