
{% macro google_analytics() -%}
  {% if not config.DEBUG %}
    <script type="text/javascript" defer="defer">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-8271754-17']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  {% endif %}
{%- endmacro %}

{% macro dataset_listing(datasets) -%}
  <ul class="list-group">
    {% for ds in datasets %}
      <li class="list-group-item">
        <strong>
          <a href="{{url_for('dataset.view', dataset=ds.name)}}">
            {{ds.label}}
          </a>
        </strong>
      </li>
    {% endfor %}
  </ul>
{%- endmacro %}

