<!DOCTYPE html>
{% from "_util.html" import google_analytics with context %}
<html lang="{{ current_language }}" ng-app="spendb">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block page_title %}{% endblock %} - 
      {{ site_title }}
    </title>

    <meta name="description" content="{% block page_desc %}{% trans %}We're enabling anyone to explore, visualize and track government spending.{% endtrans %}{% endblock %}" />
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}"
      type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml"
      title="{% trans %}Latest Datasets on {{ site_title }}{% endtrans %}"
      href="{{ url_for('dataset.feed_rss') }}" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600'
      rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet">
    {% assets "css_main" %}
      <link href="{{ ASSET_URL }}" rel="stylesheet" />
    {% endassets %}
    
  	<!-- TODO: remove the need for this -->
  	{% block optional_head %}{% endblock %}
  </head>

  <!-- templates/layout.html body -->
  <body ng-controller="AppCtrl">
    {% block page %}
    <div id="page">
      {% include '_nav.html' %}

      <div class="container-fluid title-panel">
        <div class="pull-right controls">
            {% block title_buttons %}{% endblock %}
        </div>
        <h1 id="page-title">
          {{ self.page_title() }}
        </h1>
      </div>

      <div class="banner" ng-cloak>
        <div class="container-fluid">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class="row">
                <div class="col-xs-12">
    	            {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                      {{ message }}
                    </div>
    	            {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endwith %}
          {% raw %}
            <div ng-show="flash.getMessage()" class="alert alert-{{flash.getMessage()[1]}}">
              <p>{{flash.getMessage()[0]}}</p>
            </div>
          {% endraw %}
          {% block banner %}{% endblock %}
        </div>
      </div>

      <div class="container-fluid">
        {% block content %}{% endblock %}
      </div>
    </div>
    {% endblock page %}

    <div id="catapult-cookie-bar" ng-show="showCookieWarning" ng-cloak>
      {% trans %}This site uses cookies{% endtrans %}
      <button id="catapultCookie" ng-click="hideCookieWarning()">
        {% trans %}Okay, thanks{% endtrans %}
      </button>

      <a href="{{url_for('home.page', path='tos.html')}}">
        {% trans %}Find out more{% endtrans %}
      </a>
    </div>

    {% include '_footer.html' %}

    <!-- script boot section -->
    <script>
      var SPENDB_CONFIG = SPENDB_CONFIG || {};
      SPENDB_CONFIG.site_title = "{{ site_title }}";
	    SPENDB_CONFIG.localeGroupSeparator = "{{ number_symbols_group }}";
	    SPENDB_CONFIG.localeDecimalSeparator = "{{ number_symbols_decimal }}";
      SPENDB_CONFIG.reserved_terms = {{ reserved_terms | tojson }};
    </script>

    {% assets "js_base" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <!-- end script boot section -->

  	{% block scripts %}{% endblock %}
    {{ google_analytics() }}
  </body>
</html>
