{% extends "base.html" %}

{% block page_title %}{{page['title']}}{% endblock %}

{% block banner %}
  <div class="row">
    <div class="col-md-8">
      {{page.html | safe}}
    </div>
    <div class="col-md-4">
      <ul class="nav nav-pills nav-stacked">
        {% for p in pages %}
          <li class="{{'active' if p.path == page.path else ''}}">
            <a href="{{url_for('home.page', path=p.path)}}">
              {{p['title']}}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}

{% endblock %}
