<div class="row">
  <div class="col-md-6">
    <form ng-submit="uploadFile()">
      <div class="form-group">
        <label for="file">Upload source data file</label>
        <span ng-hide="uploadPercent">
          <input type="file" ngf-select ng-model="uploads" class="form-control" id="file">
          <p class="help-block">Upload a CSV, Excel or LibreOffice data file with a single sheet of data.</p>
        </span>
        <div class="progress" ng-show="uploadPercent">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{uploadPercent}}" aria-valuemin="0"
            aria-valuemax="100" style="width: {{uploadPercent}}%;">
            <span class="sr-only">{{uploadPercent}}% Complete</span>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default"
        ng-disabled="!hasFile()">Upload data</button>
    </form>
  </div>
  <div class="col-md-6">
    <form ng-submit="submitUrl()">
      <div class="form-group">
        <label for="url">Load from a web address</label>
        <input type="text" class="form-control" ng-model="submitForm.url"
          id="url" placeholder="http://.../data.csv">
        <p class="help-block">Give the URL for a source data file in CSV, Excel or LibreOffice format.</p>
      </div>
      <button type="submit" class="btn btn-default"
        ng-disabled="!hasUrl()">Load from web</button>
    </form>
  </div>
</div>
