
<div class="form-group" ng-class="{'has-error': form.category.$invalid}">
  <label for="category" class="col-sm-2 control-label">
    Category
  </label>
  <div class="col-sm-10">
    <ui-select name="category" ng-model="dataset.category" disable-search="true">
      <ui-select-match placeholder="Pick one...">{{$select.selected.label}}</ui-select-match>
      <ui-select-choices repeat="c.code as c in reference.categories | filter: $select.search track by c.code">
         <div ng-bind="c.label"></div>
      </ui-select-choices>
    </ui-select>
    <p class="help-block" ng-show="form.category.$invalid"
      ng-bind="form.category.$message"></p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error': form.currency.$invalid}">
  <label for="currency" class="col-sm-2 control-label">
    Currency
  </label>
  <div class="col-sm-10">
    <ui-select name="currency" ng-model="dataset.currency">
      <ui-select-match placeholder="Pick one...">{{$select.selected.label}}</ui-select-match>
      <ui-select-choices repeat="c.code as c in reference.currencies | filter: $select.search track by c.code">
         <div ng-bind="c.label"></div>
      </ui-select-choices>
    </ui-select>
    <p class="help-block" ng-show="form.currency.$invalid"
      ng-bind="form.currency.$message"></p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error': form.territories.$invalid}">
  <label for="territories" class="col-sm-2 control-label">
    Countries
  </label>
  <div class="col-sm-10">
    <ui-select name="territories" ng-model="dataset.territories" multiple>
      <ui-select-match placeholder="Pick one...">{{$item.label}}</ui-select-match>
      <ui-select-choices repeat="t.code as t in reference.territories | filter: $select.search">
         <div ng-bind="t.label"></div>
      </ui-select-choices>
    </ui-select>
    <p class="help-block" ng-show="form.territories.$invalid"
      ng-bind="form.territories.$message"></p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error': form.languages.$invalid}">
  <label for="languages" class="col-sm-2 control-label">
    Languages
  </label>
  <div class="col-sm-10">
    <ui-select name="languages" ng-model="dataset.languages" multiple>
      <ui-select-match placeholder="Pick one...">{{$item.label}}</ui-select-match>
      <ui-select-choices repeat="l.code as l in reference.languages | filter: $select.search">
         <div ng-bind="l.label"></div>
      </ui-select-choices>
    </ui-select>
    <p class="help-block" ng-show="form.languages.$invalid"
      ng-bind="form.languages.$message"></p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error': form.description.$invalid}">
  <label for="description" class="col-sm-2 control-label">
    Description
  </label>
  <div class="col-sm-10">
    <p class="help-block" ng-show="form.description.$invalid"
      ng-bind="form.description.$message"></p>
    <textarea ng-model="dataset.description" class="xxlarge form-control"
      rows="4" name="description"></textarea>
  </div>
</div>

