<div class="navbar navbar-default navbar-static-top" data-dropdown="dropdown">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#main-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" ng-bind="title">
        </a>
        <a class="navbar-brand" href="/">{{ site_title }}</a>
      </div>

      <div class="collapse navbar-collapse" id="main-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/docs/about.html">
              About
            </a>
          </li>
          <li>
            <a href="/docs/contact.html">
              Contact
            </a>
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right" ng-cloak>
          <li class="dropdown" dropdown ng-show="session.logged_in">
            <a class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
              <strong>{{ session.user.display_name }}</strong>
              <img ng-if="session.user.gravatar"
                ng-src="{{ session.user.gravatar }}?s=26" width="26" height="26"
                alt="{{ session.user.display_name }}">
            </a>

            <ul class="dropdown-menu account-dropdown" role="menu">
              <li>
                <a ng-href="/accounts/{{session.user.name}}">
                  Dashboard
                </a>
              </li>
              <li>
                <a href="/settings">
                  Settings
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a ng-click="logout()" class="clickable">
                  Logout
                </a>
              </li>
            </ul>
          </li>
          <li ng-hide="session.logged_in">
            <a href="/login">
              Login/Register
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid title-panel">
  <div class="pull-right controls">
      <div ng-transclude></div>
  </div>
  <h1 id="page-title" ng-bind="title"></h1>
</div>

<div class="banner" ng-cloak>
  <div class="container-fluid">  
    <div ng-show="flash.getMessage()" class="alert alert-{{flash.getType()}}">
      <p>{{flash.getMessage()}}</p>
    </div>
  </div>
</div>
