<div class="navbar navbar-default navbar-static-top" data-dropdown="dropdown">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#main-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" ng-hide="home_page">
          <div class="navbar-brand-button">
            <i class="fa fa-chevron-left"></i>
          </div>
        </a>
        <span class="navbar-brand" ng-bind="title"></span>
      </div>

      <div class="collapse navbar-collapse" id="main-collapse">
        <ul class="nav navbar-nav" ng-show="session.logged_in && home_page">
          <li>
            <a href="/datasets/new">
              Create a dataset
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav" ng-show="dataset">
          <li ng-class="{'active': section == 'query'}">
            <a ng-href="/datasets/{{dataset.name}}">
              Query
            </a>
          </li>
          <li ng-class="{'active': section == 'about'}">
            <a ng-href="/datasets/{{dataset.name}}/about">
              About
            </a>
          </li>
          <li dropdown ng-class="{'active': section == 'manage'}">
            <a dropdown-toggle>
              Manage
              <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu account-dropdown" role="menu">
              <li>
                <a ng-href="/accounts/{{session.user.name}}">
                  Dashboard
                </a>
              </li>
              <li>
                <a href="/settings">
                  Settings
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a ng-click="logout()" class="clickable">
                  Logout
                </a>
              </li>
            </ul>
          </li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right" ng-cloak>
          <li class="dropdown" dropdown ng-show="session.logged_in">
            <a class="dropdown-toggle" dropdown-toggle data-toggle="dropdown">
              <strong>{{ session.user.display_name }}</strong>
              <img ng-if="session.user.gravatar"
                ng-src="{{ session.user.gravatar }}?s=24" width="26" height="26"
                alt="{{ session.user.display_name }}">
            </a>

            <ul class="dropdown-menu account-dropdown" role="menu">
              <li>
                <a ng-href="/accounts/{{session.user.name}}">
                  Dashboard
                </a>
              </li>
              <li>
                <a href="/settings">
                  Settings
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a ng-click="logout()" class="clickable">
                  Logout
                </a>
              </li>
            </ul>
          </li>
          <li ng-hide="session.logged_in">
            <a href="/login">
              Login/Register
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="banner" ng-cloak>
  <div class="container-fluid">  
    <div ng-show="flash.getMessage()" class="alert alert-{{flash.getType()}}">
      <p>{{flash.getMessage()}}</p>
    </div>
  </div>
</div>
